<div class="sidebar">
  <div>
    <section>
      <header>
        <h1>Kundalini Awakening and Meditation Books</h1>
      </header>
      <p>
        Life Force Books celebrates authors investigating the scientific aspects
        of <app-inner-link
            content="Kundalini~Life Force energy"
            href="https://www.commonsensekundalini.com/science_spirituality/the-energy-continuum.html">
          </app-inner-link>. Our mission is
        publishing <app-inner-link content="Kundalini books" href="/store"></app-inner-link>,
        books on consciousness, meditation, mindfulness, enlightenment, and energy
        cultivation that feature reliable,
        authoritative <app-inner-link
                        content="techniques and experiences"
                        href="https://bit.ly/OS3FNY">
                      </app-inner-link>. We feature authors whose prime directive is
        questioning the major spiritual orthodoxies of the day and who are committed
        to research on topics such as: energy cultivation techniques, correct breathing
        techniques, mindfulness, meditation, and the relationship
        between <app-inner-link
                  content="sexual energy and higher consciousness"
                  href="/store/seminal-retention-and-higher-consciousness">
                </app-inner-link>. An active Kundalini puts you on the healthy path to
        overcoming addiction and expressing your artistic creativity. It is also a
        healing force, a warranty for a tired, aging body. Finally, because Kundalini
        helps you realize that death is only another state of consciousness, you are
        better prepared to face the transition to other states, including a
        reincarnated one.
      </p>
    </section>
  </div>
  <app-sidebar></app-sidebar>
</div>