<div class="sidebar">
  <div>
    <section>
      <header>
        <h1>Kundalini Awakening and Meditation Books</h1>
      </header>
      <p>
        Life Force Books celebrates authors investigating the scientific aspects
        of <app-inner-link href="https://www.commonsensekundalini.com/science_spirituality/the-energy-continuum.html">
          Kundalini~Life Force energy
          </app-inner-link>. Our mission is
        publishing <app-inner-link href="/store">Kundalini books</app-inner-link>,
        books on consciousness, meditation, mindfulness, enlightenment, and energy
        cultivation that feature reliable,
        authoritative <app-inner-link href="https://bit.ly/OS3FNY">techniques and experiences</app-inner-link>.
        We feature authors whose prime directive is
        questioning the major spiritual orthodoxies of the day and who are committed
        to research on topics such as: energy cultivation techniques, correct breathing
        techniques, mindfulness, meditation, and the relationship
        between <app-inner-link href="/store/seminal-retention-and-higher-consciousness">
          sexual energy and higher consciousness</app-inner-link>. An active Kundalini puts you on the healthy path to
        overcoming addiction and expressing your artistic creativity. It is also a
        healing force, a warranty for a tired, aging body. Finally, because Kundalini
        helps you realize that death is only another state of consciousness, you are
        better prepared to face the transition to other states, including a
        reincarnated one.
      </p>
    </section>
    <section>
      <header>
        <h3>
          <app-inner-link content="JJ Semple" href="https://bit.ly/vWXZQ"></app-inner-link>
        </h3>
      </header>
      <app-img-box
        src="/assets/images/sgf-233x350_med.png"
        alt="The Secret of the Golden Flower: A Kundalini Mediation Method book cover"
        title="The Secret of the Golden Flower: A Kundalini Mediation Method"
        href="/store/the-secret-of-the-golden-flower-a-kundalini-meditation-method"
      >
        <p>
          This is a guidebook to using <i>The Secret of the Golden Flower</i> (SGF) 
          as a meditation method for activating kundalini. An authoritative
          interpretation by someone, who, unlike Jung, Cleary, or Wilhelm, actually
          used the method to activate kundalini. This book compares their translations
          and commentaries with JJ Semple's empirical practice of the method.
        </p>
        <app-buy-from-amazon href="https://amzn.to/2Ox4OuM?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=storypodca-20&linkId=2P4S6EY6B462X4AR"></app-buy-from-amazon>
      </app-img-box>
      <app-img-box
        src="/assets/images/kundalinifinal-fjm_low_res_med.jpeg"
        alt="Kundalini Musings book cover"
        title="Kundalini Musings"
        href="/store/kundalini-musings"
      >
        <p>
          More and more people now acknowledge kundalini as scientifically factual with
          its own anatomical, physiological, and embryological actualities. Why? People
          have realized that kundalini is a biological process, not a belief system. <b><i>Kundalini Musings</i></b> (Life Force Books, 2018)
          is a compendium of kundalini knowledge
          and experience, consisting of 82 essays written over the past seven years. Each
          essay has been edited and updated to reflect a broad spectrum of kundalini research.
        </p>
        <app-buy-from-amazon href="https://amzn.to/2MGPSZx?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=storypodca-20&linkId=2P4S6EY6B462X4AR"></app-buy-from-amazon>
      </app-img-box>
      <app-img-box
        src="/assets/images/dgf-frontcover_med.jpeg"
        alt="Deciphering the Golden Flower One Secret at a Time book cover"
        title="Deciphering the Golden Flower One Secret at a Time"
        href="/store/deciphering-the-golden-flower"
      >
        <p>
          Curiosity and circumstance often propel individuals beyond the confines of their upbringing,
          dumping them into unfamiliar, unexpected life situations. Thus was JJ Semple transported into
          a trial-and-error process of self-discovery that took him from the East Coast Brahman
          establishment, to France, to a meeting with Gopi Krishna in India. What he found along the way
          was Kundalini, the biological basis of science and religion.
        </p>
        <app-buy-from-amazon href="https://amzn.to/2xpm6Tj?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=storypodca-20&linkId=2P4S6EY6B462X4AR"></app-buy-from-amazon>
      </app-img-box>
    </section>
  </div>
  <app-sidebar></app-sidebar>
</div>